<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>

		<meta charset="utf-8">

		<title>Chart Test</title>
		{% block javascript %}
			<script src="{{ url_for('static',filename='Chart.min.js') }}"></script>
			<script src="{{ url_for('static',filename='utils.js') }}"></script>
		{% endblock %}

		<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
		</style>

	</head>


	<body>
		This is a test page

		<div style="width:75%">
			<canvas id="canvas"></canvas>
		</div>

		<button id="randomizeData">Randomize Data</button>
		<script>
			var color = Chart.helpers.color;

			window.onload = function() {
				var ctx = document.getElementById('canvas').getContext('2d');
				window.myScatter = new Chart(ctx, {
					type: 'scatter',
					data: {
						datasets: [{
							label: 'Scatter Dataset',
							pointBackgroundColor: 'rgba(255, 0, 0, 0.9)',
							data: [{
								x: 0,
								y: 0
							}, {
								x: 10,
								y: 10
							}, {
								x: 5,
								y: 5
							}]
						}]
					},
					options: {
						title: {
							display: true,
							text: 'Chart.js Scatter Chart'
						},
					}
				});
			};


		</script>


	</body>


</html>
